.Préhistoire-section_era {
	padding: var(--space-L);
	background:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6))
		url("../../assets/images/PrehistoryImg.png") center / cover no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: var(--space-S);
}
.Préhistoire-sectionBadge {
	width: max-content;
	background-color: rgba(139, 105, 20, 0.094);
	border: 1px solid var(--color-prehistory-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-prehistory-text);
}
