body {
	overflow: hidden;
}

.era-scroll-container {
	overflow-x: hidden;
	overflow-y: hidden;
	scrollbar-width: none;
}

.era-scroll-container::-webkit-scrollbar {
	display: none;
}

.index_phanerozoique-section_era {
	background-color: color-mix(
		in srgb,
		var(--color-before-prehistory) 30%,
		transparent
	);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
	position: relative;
}
.section_era-container {
	position: relative;
	min-width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.era-img {
	width: 100vw;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	display: block;
	z-index: -1;
	filter: brightness(0.5);
}

.index_phanerozoique-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-before-prehistory-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-before-prehistory-text);
}
.div_era {
	margin-bottom: var(--space-S);
}
.index_phanerozoique-section_era-title {
	color: var(--color-before-prehistory-text);
	font-size: var(--dh1);
	font-family: var(--font-phanerozoic);
	margin-bottom: var(--space-XS);
}
.index_phanerozoique-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
	line-height: 1.05;
}
/* Préhistoire */
.index_prehistoire-section_era {
	/* padding: var(--space-L); */
	background-color: color-mix(
		in srgb,
		var(--color-prehistory) 20%,
		transparent
	);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
}
.index_prehistoire-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-prehistory-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-prehistory-text);
}
.index_prehistoire-section_era-title {
	color: var(--color-prehistory-text);
	font-size: var(--dh1);
	font-family: var(--font-prehistoric);
	margin-bottom: var(--space-XS);
}
.index_prehistoire-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
	line-height: 1.05;
}

.index_antiquite-section_era {
	background-color: color-mix(in srgb, var(--color-antiquity) 30%, transparent);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
}
.index_antiquite-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-antiquity-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-antiquity-text);
}
.div_era {
	margin-bottom: var(--space-S);
}
.index_antiquite-section_era-title {
	color: var(--color-antiquity-text);
	font-size: var(--dh1);
	font-family: var(--font-antiquity);
	margin-bottom: var(--space-XS);
}
.index_antiquite-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
}
/* MA */
.index_moyen-age-section_era {
	/* padding: var(--space-L); */
	background-color: color-mix(
		in srgb,
		var(--color-middle-ages) 50%,
		transparent
	);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
}
.index_moyen-age-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-middle-ages-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-middle-ages-text);
}
.div_era {
	margin-bottom: var(--space-S);
}
.index_moyen-age-section_era-title {
	color: var(--color-middle-ages-text);
	font-size: var(--dh1);
	font-family: var(--font-medieval);
	margin-bottom: var(--space-XS);
}
.index_moyen-age-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
}
/* TM */
.index_epoque_moderne-section_era {
	/* padding: var(--space-L); */
	background-color: color-mix(
		in srgb,
		var(--color-early-modern) 35%,
		transparent
	);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
}
.index_epoque_moderne-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-early-modern-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-early-modern-text);
}
.div_era {
	margin-bottom: var(--space-S);
}
.index_epoque_moderne-section_era-title {
	color: var(--color-early-modern-text);
	font-size: var(--dh1);
	font-family: var(--font-modern);
	margin-bottom: var(--space-XS);
}
.index_epoque_moderne-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
}
/* EC */
.index_epoque_contemporaine-section_era {
	/* padding: var(--space-L); */
	background-color: color-mix(
		in srgb,
		var(--color-contemporary) 40%,
		transparent
	);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
}
.index_epoque_contemporaine-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-contemporary-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-contemporary-text);
}
.div_era {
	margin-bottom: var(--space-S);
}
.index_epoque_contemporaine-section_era-title {
	color: var(--color-contemporary-text);
	font-size: var(--dh1);
	font-family: var(--font-contemporary);
	margin-bottom: var(--space-XS);
}
.index_epoque_contemporaine-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
}
/* Futur */
.index_epoque_apocalyptique-section_era {
	/* padding: var(--space-L); */
	background-color: color-mix(in srgb, var(--color-future) 30%, transparent);
	height: 100vh;
	display: flex;
	width: 100vw;
	flex-direction: column;
	gap: var(--space-S);
}
.index_epoque_apocalyptique-sectionBadge {
	margin-top: var(--space-XXL);
	width: max-content;
	background-color: rgba(139, 105, 20, 0.04);
	border: 1px solid var(--color-future-text);
	padding: calc(var(--space-XS) / 2);
	border-radius: var(--button);
	color: var(--color-future-text);
}
.div_era {
	margin-bottom: var(--space-S);
}
.index_epoque_apocalyptique-section_era-title {
	color: var(--color-future-text);
	font-size: var(--dh1);
	font-family: var(--font-futur);
	margin-bottom: var(--space-XS);
}
.index_epoque_apocalyptique-section_era-desc {
	font-size: calc(var(--dp) / 1.2);
	font-family: sans-serif;
}
