.accordion-content {
	position: absolute;
	inset: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	text-align: start;
}
.accordion-content::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	opacity: 0.5;
}
.accordion-contentEra1 {
	font-family: var(--font-phanerozoic);
	color: var(--color-before-prehistory-text);
}
.accordion-contentEra1::before {
	background-color: var(--color-before-prehistory);
}
.accordion-contentEra2 {
	font-family: var(--font-prehistoric);
	color: var(--color-prehistory-text);
}
.accordion-contentEra2::before {
	background-color: var(--color-prehistory);
}
.accordion-contentEra3 {
	font-family: var(--font-antiquity);
	color: var(--color-antiquity-text);
}
.accordion-contentEra3::before {
	background-color: var(--color-antiquity);
}
.accordion-contentEra4 {
	font-family: var(--font-medieval);
	color: var(--color-middle-ages-text);
}
.accordion-contentEra4::before {
	background-color: var(--color-middle-ages);
}
.accordion-contentEra5 {
	font-family: var(--font-modern);
	color: var(--color-early-modern-text);
}
.accordion-contentEra5::before {
	background-color: var(--color-modern);
}
.accordion-contentEra6 {
	font-family: var(--font-contemporary);
	color: var(--color-contemporary-text);
}
.accordion-contentEra6::before {
	background-color: var(--color-contemporary);
}

.accordion-contentEra7 {
	font-family: var(--font-futur);
	color: var(--color-future-text);
}
.accordion-contentEra7::before {
	background-color: var(--color-future);
}
.accordionCardsTitle {
}
