/* @import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap"); */

.navBar-global {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	gap: var(--L);
	padding: var(--S);
	background-color: transparent;
}

.navBar-button {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid var(--color-neutral);
	font-weight: bold;
	cursor: pointer;
	font-size: 2rem;
	color: var(--color-neutral);
	text-decoration: none;
	text-align: center;
}

.navBar-text {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	color: var(--color-neutral);
	text-decoration: none;
	text-align: center;
}

/* Pour les ères */
.navBar-button1 {
	background-color: var(--color-before-prehistory);
}

.navBar-button2 {
	background-color: var(--color-prehistory);
}

.navBar-button3 {
	background-color: var(--color-antiquity);
}

.navBar-button4 {
	background-color: var(--color-middle-ages);
}

.navBar-button5 {
	background-color: var(--color-early-modern);
}

.navBar-button6 {
	background-color: var(--color-contemporary);
}

.navBar-button7 {
	background-color: var(--color-future);
}

.navBar-text- {
	font-family: var(--font-phanerozoic);
}

.navBar-text-2 {
	font-family: var(--font-prehistoric);
}

.navBar-text-3 {
	font-family: var(--font-antiquity);
}

.navBar-text-4 {
	font-family: var(--font-medieval);
}

.navBar-text-5 {
	font-family: var(--font-modern);
}

.navBar-text-6 {
	font-family: var(--font-contemporary);
}

.navBar-text-7 {
	font-family: var(--font-futur);
}
