@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap");

.navBar-global {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	gap: var(--L);
	padding: var(--S);
	padding-left: 32px;
	background-color: transparent;
}

.navBar-button {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid var(--color-neutral);
	font-weight: bold;
	cursor: pointer;
	font-size: 2rem;
	color: var(--color-neutral);
}

.navBar-text {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	color: var(--color-neutral);
}

.navBar-text-B,
.navBar-button {
	font-family: "Cormorant", serif;
}

/* Style neutre pour la LandingPage */
.navBar-button.neutral,
.navBar-logo-E.neutral {
	/* background-color: #feac61; */
	background: linear-gradient(-25deg, #c47a4a, #e6a574, white);
	color: black;
	font-family: "Cormorant", serif;
}

/* Style pour chaque ère */
.navBar-button.before-prehistory {
	background-color: var(--color-before-prehistory);
}

.navBar-button.prehistory {
	background-color: var(--color-prehistory);
}

.navBar-button.antiquity {
	background-color: var(--color-antiquity);
}

.navBar-button.middle-ages {
	background-color: var(--color-middle-ages);
}

.navBar-button.early-modern {
	background-color: var(--color-early-modern);
}

.navBar-button.contemporary {
	background-color: var(--color-contemporary);
}

.navBar-button.future {
	background-color: var(--color-future);
}

.navBar-text-A.before-prehistory {
	font-family: var(--font-phanerozoic);
}

.navBar-text-A.prehistory {
	font-family: var(--font-prehistoric);
}

.navBar-text-A.antiquity {
	font-family: var(--font-antiquity);
}

.navBar-text-A.middle-ages {
	font-family: var(--font-medieval);
}

.navBar-text-A.early-modern {
	font-family: var(--font-modern);
}

.navBar-text-A.contemporary {
	font-family: var(--font-contemporary);
}

.navBar-text-A.future {
	font-family: var(--font-futur);
}
