.Formulaire-Global {
	width: 30rem;
	min-height: 30rem;
	background-color: rgb(41, 40, 40);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px rgb(45, 45, 45);
	color: white;
}
.Formulaire-Describe {
	font-size: 1.5rem;
}
.Fomulaire-InputGlobal {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 2rem;
}

.Fomulaire-InputCase {
	border-radius: 5px;
	text-align: center;
	width: 15rem;
	height: 2.5rem;
	font-size: 1rem;
}
.Formulaire-InputDate,
.Formulaire-InputMail,
.Formulaire-Input {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Fomulaire-InputCGU {
	font-size: 1.5rem;
}
.Fomulaire-ButtonGlobal {
	display: flex;
	justify-content: center;
}
.Fomulaire-Button {
	height: 2.5rem;
	width: 15rem;
	border-radius: 999px;
	background: linear-gradient(-25deg, #c47a4a, #e6a574, white);
}
