@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.LandingPage-Global {
	position: relative;
	min-height: 100vh;
}
.LandingPage-Background {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	filter: brightness(0.3);
}
.LandingPage-BackgroundImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.LandingPage-ContainerLogo {
	display: flex;
	justify-content: center;
	filter: brightness(1.5);
}
.LandingPage-Logo {
	margin-top: 2rem;
	width: 35%;
}
.LandingPage-SloganGlobal {
	margin-left: 2rem;
	width: 45%;
}
.LandingPage-SloganBegining {
	color: white;
	font-family: "Cormorant Garamond", serif;
	font-size: 5rem;
}
.LandingPage-SloganEnding {
	background: linear-gradient(-25deg, #c47a4a, #e6a574, rgb(243, 222, 209));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Cormorant Garamond", serif;
	font-style: italic;
	font-size: 5rem;
}
.LandingPage-DescribeGlobal {
	margin-left: 2rem;
	margin-block: 1rem;
}
.LandingPage-Describe {
	color: rgb(140, 160, 173);
}
.LandingPage-CountersGlobal {
	margin-left: 2rem;
	display: flex;
	justify-content: space-between;
	margin-right: 4rem;
}
.LandingPage-Counters {
	display: flex;
	gap: 2rem;
}
.LandingPage-Counter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.LandingPage-CounterNumber {
	font-size: 2rem;
	color: #e7b894;
}
.LandingPage-CounterName {
	color: white;
}
.LandingPage-Button {
	background: linear-gradient(-25deg, #c47a4a, #e6a574, white);
	width: 20rem;
	border-radius: 999px;
	font-size: 1.5rem;
	font-family: "Cormorant Garamond", serif;
	font-weight: bold;
	transition: transform 0.2s ease;
}
.LandingPage-Button:hover {
	transform: scale(1.03);
	box-shadow: 0 0 1rem #e6a574;
}
